VITE_ZAPPI_SUPPORT_AGENT_NPUB=npub15dyu2nnzckggfe6ccz465cx0cnsf6g3mmpr5h8nau3jt49w0ydkslj83ty
VITE_ZAPPI_SUPPORT_BOOTSTRAP_RELAYS=wss://relay.damus.io,wss://nos.lol,wss://relay.nostr.band
VITE_ZAPPI_SUPPORT_BLOSSOM_SERVERS=https://blossom.primal.net
